html ,body {
  background-color: lightgray;
  font-family: "Inria-serif";
  font-size: 19px;
  margin: 0px;
  padding: 0px;
}
footer {
  transform: translateY(400px);  
}
.cardArticle {
  transition: all 1s;
}
.cardArticle:hover {
  background-color: lightblue !important;
  box-shadow: inset;
}
